@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
}
body {
    font-family: Roboto, Arial;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.container {
    display: grid;
    grid-template-columns: .8fr 5fr;
    grid-template-rows: .8fr 5fr;
    grid-template-areas: "sidebar contentCont"
                        "sidebar contentCont";
    height: 100vh;
}

.sidebar {
    background-color: rgb(40, 153, 223);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: .5fr 2fr 3fr;
    grid-template-areas: "logo "
                        "links"
                        "supportLinks";
    gap: 30px;
    color: white;
    
}
.logo {
    grid-template-columns: 1fr 1fr;
}
.links {
    grid-area: links;
}
.support_links {
    grid-area: supportLinks
}
.logoCont {
    display: flex;
    align-items: center;
    padding: 10px 20px 0 10px;
    gap: 10px;
    font-size: 1.5rem;
}
.logoCont img {
    filter: invert(1);
}
#logo {
    width: 3rem;
}
.navigation {
    display: grid;
    grid-template-columns: auto 3fr;
    align-items: center;
    padding: 10px 30px;
}
.navigation>p{
    justify-self: flex-start;
    padding-left: 20px;
}
.navigation img {
    filter: invert(1);
    height: auto;
    width: 1.5rem;
}

.content_container {
    background-color: rgb(176, 176, 176);
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "header"
                        "main";
    height: 100vh;
}

.header {
    background-color: white;
    grid-area: header;
}

.headerTop {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}
.topLeft {
    display: flex;
    align-items: center;
}
.headerTop img, #icon {
    height: auto;
    width: 1.3rem;
}
#searchbar {
    margin-left: 20px;
    border: none;
    background-color: rgb(225, 225, 234);
    border-radius: 15px;
    height: 20px;
    width: 40vw;
}
.topRight {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    align-items: center;
}
.propic {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(156, 141, 253);
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.main_content {
    background-color: aquamarine;
    grid-area: main;
}

